@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

:root{
  --color-1: #1a1a1a;
  --color-2: #282c34; /* Dark gray background color */
  --color-3: #6aff00; /* Blue text color */
  --color-4: #e06c75; /* Red text color */
  --color-5: #61afef; /* Green text color */
  --color-6: #ffae00; /* Yellow text color */
  /* blue hover color */
  --color-3-hover: #528bff;
  /* red hover color */
  --color-4-hover: #ff6b72;
  /* green hover color */
  --color-5-hover: #7bc275;
  /* yellow hover color */
  --color-6-hover: #e5c07b;
}
*{
  font-family: 'Lexend Deca', sans-serif;
}
html,body{
  overflow-x: hidden;
}
body{
  background-color: var(--color-2);
  background-image: radial-gradient(var(--color-1) 2.5px, transparent 0);
  background-size: 25px 25px;
  background-position: -5px -5px
}
.navbar *{
  color: var(--color-6);
}
.navbar-collapse{
  font-size: 18px;
  animation: fadein 1s;
}
a:hover{
  color: var(--color-6-hover)!important;
}
a:active{
  color: var(--color-6)!important;
}
a:visited{
  color: var(--color-6)!important;
}
.banner-left{
  width: 40%;
  margin: auto;
  color: var(--color-5);
  font-size: 50px;
  padding: 80px 40px;
  font-weight: 900;
  height: 375px;
  /* font-family: 'Tangerine', cursive; */
}
.banner-left span{
  color: var(--color-6);
  /* font-family: 'Tangerine', cursive; */
}
.banner-right{
  font-weight: 900;
  color: var(--color-4);
  width: 50%;
}
.banner{
  animation: fadein 1s;
}
.skills{
  animation: fadein 1s;
}
.stats{
  animation: fadein 1s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 850px){
  .banner-left{
    width: 100%;
    font-size: 50px;
  }
  .banner-right *,.banner-right{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .social-icons{
    margin: 0!important;
    padding: 0!important;
  }
}
.stats{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 687px){
  .stats img{ 
    width: 100%;
  }
}

@media screen and (max-width: 992px){
  .navbar-collapse{
    text-align: right;
    margin-top: 30px;
  }

  .edu-hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .edu-hobby div{
    width: 100%;
    margin-bottom: 20px;
  }
}
.about{
  background-color: var(--color-1);
  border-radius: 5px;
  animation: fadein 1s;
}
.resume{
  animation: fadein 1s;
}
@media screen and (max-width: 600px){
  .repos img{
    width: 100%;
  }
  
}
@media screen and (max-width: 773px){
  .cont{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1037px){
  .mobile{
    width: 100%!important;
  }
}
.writer{
  animation: writing_cursor 1s infinite;
}

@keyframes writing_cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadein{
  animation: fadein 3s;
}
.fadeOut{
  animation: fadeOut 1.5s;
  display: none;
}
.remove{
  display: none;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

html{
  scrollbar-color: var(--color-1) var(--color-2);
}

html {
  --scrollbarBG: var(--color-2);
  --thumbBG: var(--color-1);
}

body::-webkit-scrollbar {
  width: 5px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}



body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2px solid var(--scrollbarBG);
}

::selection{
  background: var(--color-5);
  color: var(--color-2);
}